
.masthead {
  padding-top: 65px;
  padding-bottom: 90px;
  text-align: center;
}

.blurbElipsis {
  margin-left: 25px;
  margin-bottom: 35px;
}

.colorLavender {
  color: #E6E6FA;
}

.colorTurquoise {
  color: #00F5FF;
}

.colorYellow {
  color: #FFFF00;
}

.colorSpringgreen {
  color: #00EE76;
}

.colorPurple {
  color: #9B30FF;
}